<header id="header">
  <nav id="nav">
    <a id="heading" href="index.html">Lee Doughty</a>
    <ul class="list-items">
      <li class="list-item">
        <a class="list-link" href="artworks.html">Generative Art</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="about.html">About</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<button class="light-switch" aria-label="Toggle dark mode"></button>
