*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.grid {
  margin: 0 5vw 0 5vw;
  padding-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 100px);
  width: 80%;
}

@media only screen and (max-width: 800px) {
  .grid {
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 90px);
    padding: 20px;
    margin: 0;
  }
}
