body {
  background-color: rgb(245, 245, 245);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  height: 10vh;
  font-size: 1.25em;
}

nav {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

img {
  width: 90vw;
}

#work-container {
  min-height: 100vh;
  padding-top: 10px;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
}

.work {
  padding-bottom: 20px;
}

.work-title {
  align-self: flex-start;
  font-size: 0.9em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1px;
}

#about {
  width: 80vw;
  padding-top: 20px;
  margin: 0 15vw 0 5vw;
  font-family: Arial, Helvetica, sans-serif;
}
