*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #d8d1c8;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#grid {
  display: grid;
  row-gap: 75px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 50px 125px;
}

.item {
  height: 200px;
  width: 200px;
  /* background-color: white;
  border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
