*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(245, 245, 245);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  border: 1px solid grey;
  display: block;
  max-width: 100%;
}
