*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #f2ebe1;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#grid-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#container {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 200px;
  max-width: 100%;
  grid-row-gap: 100px;
  padding-left: 75px;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
